In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('train.csv',usecols=['GarageQual','FireplaceQu','SalePrice'])

In [10]:
df.head()

  FireplaceQu GarageQual  SalePrice
0         NaN         TA     208500
1          TA         TA     181500
2          TA         TA     223500
3          Gd         TA     140000
4          TA         TA     250000

In [11]:
df.shape

(1460, 3)

In [12]:
df.isna().sum().sort_values(ascending=False)

FireplaceQu    690
GarageQual      81
SalePrice        0
dtype: int64